$color-primary: #ffffff;
$color-secondary: rgba(255, 255, 255, 0.8);
$color-tertiary: #22a6b3;
$color-loading: rgba(0, 0, 0, 0.2);
$color-seat-reserved: #9b9797;
$color-seat-number: rgba(0, 0, 0, 0);
$color-row-number: #9b9797;
$color-row-selection: rgba(0, 0, 0, 0);
