.scroll-nav > li > a {
	@apply opacity-60;
	@apply py-4 px-12 text-white opacity-80 hover:opacity-100 duration-200;
	display: inline-block;
}

.scroll-nav > .is-current > a {
	@apply opacity-100;
	@apply border-b-4 border-b-accent;
}
/* .scroll-nav {
    @apply shadow-md;
} */

.booking-modal {
	background: radial-gradient(
		120% 150% at 5.56% 0%,
		rgba(90, 123, 126, 0.6) 0%,
		rgba(54, 57, 63, 0.4) 100%
	);
}

.scroll-hide::-webkit-scrollbar {
	display: none;
}

.scroll-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
