.seat {
	background-color: $color-primary;
	height: 28px;
	width: 28px;
	color: $color-seat-number;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.25rem 0.5rem 0.25rem;
	transition-duration: 200ms;
	&__number {
		font-size: 10px;
	}

	border-radius: 8px;

	&--enabled {
		cursor: pointer;
		&:hover {
			background-color: $color-secondary;
		}
	}

	&--selected {
		cursor: pointer;
		background-color: $color-tertiary;
	}

	&--reserved {
		cursor: not-allowed;
		background-color: $color-seat-reserved;
	}
}
